.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;

  .message {
    display: flex;
    flex-direction: row;

    .icon{
      display: flex;
      margin: 40px;
      width: 35px;
      height: 35px;
    }

    .user {
      width: 50%;
      display: flex;
      padding: 15px;
      margin: 30px 0;
      margin-left: auto;
      /* 自动将元素推到右侧 */
      background-color: rgb(252, 252, 252);
      font-size: 15px;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      word-wrap: break-word;
      /* 自动换行 */
      word-break: break-word;
      /* 为避免长单词或链接超出边界 */
      overflow-wrap: break-word;
      /* 支持更多浏览器的换行处理 */
    }

    .ai {
      width: 50%;
      display: flex;
      padding: 15px;
      margin: 30px 0;
      margin-right: auto;
      /* 自动将元素推到右侧 */
      background-color: rgb(252, 252, 252);
      font-size: 15px;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      word-wrap: break-word;
      /* 自动换行 */
      word-break: break-word;
      /* 为避免长单词或链接超出边界 */
      overflow-wrap: break-word;
      /* 支持更多浏览器的换行处理 */
    }
  }
}

.input-container {
  position: sticky;
  display: flex;
  max-height: none; // 确保没有限制最大高度
  justify-content: center;
  align-items: center;
  z-index: 5;
  bottom: 0;
  padding-bottom: 40px;
}

.scroll-to-bottom-button{
  position: absolute;
  bottom: 150px;
  right: 240px;
  z-index: 10; 
  display: flex;
  justify-content: center;
  align-items: center;
}